* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row::after {
    display: block;
    clear: both;
    content: "";
    padding-top: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

h1 {
    font-size: 35px;
    background: #ececec;
    padding: 15px 10px;
}

.title {
    text-align: center;
    background: #ececec;
    font-weight: bolder;
    padding: 10px;

}

.font1 {
    font-weight: bolder;
    padding-bottom: 20px;
}

.font2 {
    font-weight: bolder;
    font-size: 15px;
    color: #474747;
    text-align: justify;
}

.header {
    z-index: 9;
    background: #c9c7c7;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.footer {
    width: 100%;
    background: #c9c7c7;
    color: black;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-weight: bolder;
}

.link a {
    text-decoration: none;
    color: black;
}

.height_row_2 {
    height: 1000px;
}

.margin_1 {
    margin-top: 80px
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}